Repository bflad/tfproviderlint, pull requests merged in 2020-01, with the labels that each got.

#34 New Check: S020: check for Schema with only Computed enabled and ForceNew enabled
  CHANGELOG.md
  README.md
  cmd/tfproviderlint/tfproviderlint.go
  passes/S020/README.md
  passes/S020/S020.go
  passes/S020/S020_test.go
  passes/S020/testdata/src/a/alias.go
  passes/S020/testdata/src/a/comment_ignore.go
  passes/S020/testdata/src/a/main.go
  passes/S020/testdata/src/a/outside_package.go
  passes/S020/testdata/src/a/schema/schema.go
  passes/S020/testdata/src/a/vendor
Labels: ast, check/schema, new-check

#36 New Check: AT005: check for acceptance test names missing `TestAcc` prefix
  CHANGELOG.md
  README.md
  cmd/tfproviderlint/tfproviderlint.go
  helper/terraformtype/ast.go
  helper/terraformtype/resource.go
  passes/AT005/AT005.go
  passes/AT005/AT005_test.go
  passes/AT005/README.md
  passes/AT005/testdata/src/a/a.go
  passes/AT005/testdata/src/a/vendor
  passes/acctestfunc/acctestfunc.go
  passes/testfunc/testfunc.go
Labels: ast, check/acctest, new-check

#37 New Check: AT006: check for acceptance tests containing multiple resource.Test() invocations
  CHANGELOG.md
  README.md
  cmd/tfproviderlint/tfproviderlint.go
  passes/AT006/AT006.go
  passes/AT006/AT006_test.go
  passes/AT006/README.md
  passes/AT006/testdata/src/a/a.go
  passes/AT006/testdata/src/a/vendor
Labels: ast, check/acctest, new-check

#38 New Check: AT007: check for acceptance tests containing multiple resource.ParallelTest() invocations
  CHANGELOG.md
  README.md
  cmd/tfproviderlint/tfproviderlint.go
  passes/AT007/AT007.go
  passes/AT007/AT007_test.go
  passes/AT007/README.md
  passes/AT007/testdata/src/a/a.go
  passes/AT007/testdata/src/a/vendor
Labels: ast, check/acctest, new-check

#40 Adds the `-version` and `-V` flags to output the version
  .goreleaser.yml
  cmd/tfproviderlint/flags.go
  cmd/tfproviderlint/tfproviderlint.go
  version/version.go
Labels: cli, enhancement

#54 New Check: R005: check for `ResourceData.HasChange()` calls that can be combined into one `HasChanges()` call
  CHANGELOG.md
  README.md
  helper/terraformtype/ast.go
  helper/terraformtype/helper_schema.go
  passes/R005/R005.go
  passes/R005/R005_test.go
  passes/R005/README.md
  passes/R005/testdata/src/a/alias.go
  passes/R005/testdata/src/a/comment_ignore.go
  passes/R005/testdata/src/a/main.go
  passes/R005/testdata/src/a/outside_package.go
  passes/R005/testdata/src/a/schema/schema.go
  passes/R005/testdata/src/a/vendor
  passes/resourcedataset/resourcedataset.go
Labels: ast, check/resource, new-check

#57 New Check: V001: check for custom SchemaValidateFunc that implement validation.StringMatch() or validation.StringDoesNotMatch()
  CHANGELOG.md
  README.md
  cmd/tfproviderlint/tfproviderlint.go
  helper/astutils/function_parameters.go
  helper/astutils/package.go
  helper/terraformtype/ast.go
  helper/terraformtype/helper_resource.go
  helper/terraformtype/helper_schema.go
  passes/V001/README.md
  passes/V001/V001.go
  passes/V001/V001_test.go
  passes/V001/testdata/src/a/main.go
  passes/V001/testdata/src/a/vendor
  passes/schemavalidatefunc/schemavalidatefunc.go
Labels: ast, check/validation, new-analyzer, new-check

#58 passes: Add `AllChecks` variable which can be used to bootstrap custom downstream linters
  CHANGELOG.md
  README.md
  cmd/tfproviderlint/tfproviderlint.go
  passes/checks.go
Labels: enhancement

#59 New Check: S021: check for `Schema` that should omit `ComputedWhen`
  CHANGELOG.md
  README.md
  passes/S021/README.md
  passes/S021/S021.go
  passes/S021/S021_test.go
  passes/S021/testdata/src/a/alias.go
  passes/S021/testdata/src/a/comment_ignore.go
  passes/S021/testdata/src/a/main.go
  passes/S021/testdata/src/a/outside_package.go
  passes/S021/testdata/src/a/schema/schema.go
  passes/S021/testdata/src/a/vendor
  passes/checks.go
Labels: ast, check/schema, new-check

#60 New Check: S022: check for Schema of TypeMap with invalid Elem of *schema.Resource
  CHANGELOG.md
  README.md
  helper/terraformtype/helper_resource_testcase.go
  helper/terraformtype/helper_resource_teststep.go
  helper/terraformtype/helper_schema_resource.go
  helper/terraformtype/helper_schema_resourcedata.go
  helper/terraformtype/helper_schema_schema.go
  passes/S022/README.md
  passes/S022/S022.go
  passes/S022/S022_test.go
  passes/S022/testdata/src/a/alias.go
  passes/S022/testdata/src/a/comment_ignore.go
  passes/S022/testdata/src/a/main.go
  passes/S022/testdata/src/a/outside_package.go
  passes/S022/testdata/src/a/schema/schema.go
  passes/S022/testdata/src/a/vendor
  passes/checks.go
Labels: ast, check/schema, new-check

#61 New Check: S023: check for Schema that should omit Elem with incompatible Type
  CHANGELOG.md
  README.md
  passes/S023/README.md
  passes/S023/S023.go
  passes/S023/S023_test.go
  passes/S023/testdata/src/a/alias.go
  passes/S023/testdata/src/a/comment_ignore.go
  passes/S023/testdata/src/a/main.go
  passes/S023/testdata/src/a/outside_package.go
  passes/S023/testdata/src/a/schema/schema.go
  passes/S023/testdata/src/a/vendor
  passes/checks.go
Labels: ast, check/schema, new-check

#62 New Check: R006: check for RetryFunc that omit retryable errors
  CHANGELOG.md
  README.md
  helper/terraformtype/helper_resource.go
  helper/terraformtype/helper_resource_retryerror.go
  helper/terraformtype/helper_resource_retryfunc.go
  passes/R006/R006.go
  passes/R006/R006_test.go
  passes/R006/README.md
  passes/R006/testdata/src/a/main.go
  passes/R006/testdata/src/a/vendor
  passes/checks.go
  passes/retryfunc/retryfunc.go
Labels: ast, check/resource, new-check

#67 New Extra Check: XS001: check for map[string]*Schema that Description is configured
  CHANGELOG.md
  README.md
  helper/terraformtype/ast.go
  helper/terraformtype/helper_schema_schema.go
  xpasses/XS001/README.md
  xpasses/XS001/XS001.go
  xpasses/XS001/XS001_test.go
  xpasses/XS001/testdata/src/a/alias.go
  xpasses/XS001/testdata/src/a/comment_ignore.go
  xpasses/XS001/testdata/src/a/main.go
  xpasses/XS001/testdata/src/a/outside_package.go
  xpasses/XS001/testdata/src/a/schema/schema.go
  xpasses/XS001/testdata/src/a/vendor
Labels: ast, check/schema, new-check

#70 Document how to ignore reports in all checks
  passes/AT001/README.md
  passes/AT002/README.md
  passes/AT003/README.md
  passes/AT004/README.md
  passes/AT005/README.md
  passes/AT006/README.md
  passes/AT007/README.md
  passes/R001/README.md
  passes/R002/README.md
  passes/R003/README.md
  passes/R004/README.md
  passes/R005/README.md
  passes/R006/README.md
  passes/S001/README.md
  passes/S002/README.md
  passes/S003/README.md
  passes/S004/README.md
  passes/S005/README.md
  passes/S006/README.md
  passes/S007/README.md
  passes/S008/README.md
  passes/S009/README.md
  passes/S010/README.md
  passes/S011/README.md
  passes/S012/README.md
  passes/S013/README.md
  passes/S014/README.md
  passes/S015/README.md
  passes/S016/README.md
  passes/S017/README.md
  passes/S018/README.md
  passes/S019/README.md
  passes/S020/README.md
  passes/S021/README.md
  passes/S022/README.md
  passes/S023/README.md
  passes/V001/README.md
  xpasses/XS001/README.md
Labels: documentation

#71 New Extra Check: XR001: check for usage of ResourceData.GetOkExists() calls
  CHANGELOG.md
  README.md
  passes/resourcedatagetokexists/resourcedatagetokexists.go
  xpasses/XR001/README.md
  xpasses/XR001/XR001.go
  xpasses/XR001/XR001_test.go
  xpasses/XR001/testdata/src/a/alias.go
  xpasses/XR001/testdata/src/a/comment_ignore.go
  xpasses/XR001/testdata/src/a/main.go
  xpasses/XR001/testdata/src/a/outside_package.go
  xpasses/XR001/testdata/src/a/schema/schema.go
  xpasses/XR001/testdata/src/a/vendor
  xpasses/checks.go
Labels: ast, check/resource, new-check

#76 New Analyzer: resourcedatagetok: returns ResourceData.GetOk() calls for later passes
  CHANGELOG.md
  passes/resourcedatagetok/resourcedatagetok.go
Labels: ast, check/resource, new-analyzer

#78 New Analyzer: resourcedataget: returns ResourceData.Get() calls for later passes
  CHANGELOG.md
  passes/resourcedataget/resourcedataget.go
Labels: ast, check/resource, new-analyzer

#79 New Analyzer: resourcedatagetchange: returns ResourceData.GetChange() calls for later passes
  CHANGELOG.md
  passes/resourcedatagetchange/resourcedatagetchange.go
Labels: ast, check/resource, new-analyzer

#80 New Extra Check: XR002: check for Resource that should implement Importer
  CHANGELOG.md
  README.md
  xpasses/XR002/README.md
  xpasses/XR002/XR002.go
  xpasses/XR002/XR002_test.go
  xpasses/XR002/testdata/src/a/alias.go
  xpasses/XR002/testdata/src/a/comment_ignore.go
  xpasses/XR002/testdata/src/a/main.go
  xpasses/XR002/testdata/src/a/outside_package.go
  xpasses/XR002/testdata/src/a/schema/schema.go
  xpasses/XR002/testdata/src/a/vendor
  xpasses/checks.go
Labels: ast, check/resource, new-check

#81 New Extra Check: XR003: check for Resource that should implement Timeouts
  CHANGELOG.md
  README.md
  xpasses/XR003/README.md
  xpasses/XR003/XR003.go
  xpasses/XR003/XR003_test.go
  xpasses/XR003/testdata/src/a/alias.go
  xpasses/XR003/testdata/src/a/comment_ignore.go
  xpasses/XR003/testdata/src/a/main.go
  xpasses/XR003/testdata/src/a/outside_package.go
  xpasses/XR003/testdata/src/a/schema/schema.go
  xpasses/XR003/testdata/src/a/vendor
  xpasses/checks.go
Labels: ast, check/resource, new-check

#82 New Extra Check: XR004: check for ResourceData.Set() calls that should implement error checking with complex values
  CHANGELOG.md
  README.md
  xpasses/XR004/README.md
  xpasses/XR004/XR004.go
  xpasses/XR004/XR004_test.go
  xpasses/XR004/testdata/src/a/alias.go
  xpasses/XR004/testdata/src/a/comment_ignore.go
  xpasses/XR004/testdata/src/a/main.go
  xpasses/XR004/testdata/src/a/outside_package.go
  xpasses/XR004/testdata/src/a/schema/schema.go
  xpasses/XR004/testdata/src/a/vendor
  xpasses/checks.go
Labels: ast, check/resource, new-check

#84 New Check: S024: check for Schema that should omit ForceNew in data source schema attributes
  CHANGELOG.md
  README.md
  helper/terraformtype/helper_schema_resource.go
  helper/terraformtype/helper_schema_schema.go
  passes/S013/S013.go
  passes/S014/S014.go
  passes/S015/S015.go
  passes/S024/README.md
  passes/S024/S024.go
  passes/S024/S024_test.go
  passes/S024/testdata/src/a/alias.go
  passes/S024/testdata/src/a/comment_ignore.go
  passes/S024/testdata/src/a/main.go
  passes/S024/testdata/src/a/outside_package.go
  passes/S024/testdata/src/a/schema/schema.go
  passes/S024/testdata/src/a/vendor
  passes/checks.go
  passes/schemamap/schemamap.go
  passes/schemaschema/schemaschema.go
  xpasses/XR002/XR002.go
  xpasses/XS001/XS001.go
Labels: ast, check/schema, new-check
