Repository bflad/tfproviderlint, pull requests merged in 2020-08, with the labels that each got.

#180 helper/terraformtype/helper/schema: Ensure CustomizeDiffFunc handling supports Terraform Plugin SDK v2
  helper/terraformtype/helper/schema/type_customizedifffunc.go
  helper/terraformtype/helper/schema/type_customizedifffunc_test.go
Labels: ast, enhancement

#177 New Extra Check XS002: check for schema.Resource.Schema key ordering
  README.md
  xpasses/XS002/README.md
  xpasses/XS002/XS002.go
  xpasses/XS002/XS002_test.go
  xpasses/XS002/testdata/src/a/alias.go
  xpasses/XS002/testdata/src/a/alias_v2.go
  xpasses/XS002/testdata/src/a/comment_ignore.go
  xpasses/XS002/testdata/src/a/comment_ignore_v2.go
  xpasses/XS002/testdata/src/a/main.go
  xpasses/XS002/testdata/src/a/main_v2.go
  xpasses/XS002/testdata/src/a/outside_package.go
  xpasses/XS002/testdata/src/a/schema/schema.go
  xpasses/XS002/testdata/src/a/vendor
  xpasses/checks.go
Labels: ast, check/schema, new-check

#193 New Checks for common unstable d.SetId() values and introduce standard library package helpers
  CHANGELOG.md
  README.md
  helper/analysisutils/stdlib_analyzers.go
  helper/analysisutils/stdlib_runners.go
  helper/astutils/package.go
  helper/terraformtype/helper/resource/funcs.go
  passes/R015/R015.go
  passes/R015/R015_test.go
  passes/R015/README.md
  passes/R015/testdata/src/a/alias.go
  passes/R015/testdata/src/a/alias_v2.go
  passes/R015/testdata/src/a/comment_ignore.go
  passes/R015/testdata/src/a/comment_ignore_v2.go
  passes/R015/testdata/src/a/main.go
  passes/R015/testdata/src/a/main_v2.go
  passes/R015/testdata/src/a/outside_package.go
  passes/R015/testdata/src/a/resource/resource.go
  passes/R015/testdata/src/a/schema/schema.go
  passes/R015/testdata/src/a/vendor
  passes/R016/R016.go
  passes/R016/R016_test.go
  passes/R016/README.md
  passes/R016/testdata/src/a/alias.go
  passes/R016/testdata/src/a/alias_v2.go
  passes/R016/testdata/src/a/comment_ignore.go
  passes/R016/testdata/src/a/comment_ignore_v2.go
  passes/R016/testdata/src/a/main.go
  passes/R016/testdata/src/a/main_v2.go
  passes/R016/testdata/src/a/outside_package.go
  passes/R016/testdata/src/a/resource/resource.go
  passes/R016/testdata/src/a/schema/schema.go
  passes/R016/testdata/src/a/vendor
  passes/R017/R017.go
  passes/R017/R017_test.go
  passes/R017/README.md
  passes/R017/testdata/src/a/alias.go
  passes/R017/testdata/src/a/alias_v2.go
  passes/R017/testdata/src/a/comment_ignore.go
  passes/R017/testdata/src/a/comment_ignore_v2.go
  passes/R017/testdata/src/a/main.go
  passes/R017/testdata/src/a/main_v2.go
  passes/R017/testdata/src/a/outside_package.go
  passes/R017/testdata/src/a/schema/schema.go
  passes/R017/testdata/src/a/time/time.go
  passes/R017/testdata/src/a/vendor
  passes/checks.go
  passes/helper/schema/resourcedatasetidcallexpr/resourcedatasetidcallexpr.go
  passes/helper/schema/resourcedatasetidcallexpr/resourcedatasetidcallexpr_test.go
  passes/stdlib/fmtsprintfcallexpr/fmtsprintfcallexpr.go
  passes/stdlib/fmtsprintfcallexpr/fmtsprintfcallexpr_test.go
Labels: ast, check/resource, new-analyzer, new-check

#194 passes/stdlib: Pass for collecting `fmt.Errorf()` calls
  CHANGELOG.md
  passes/stdlib/fmterrorfcallexpr/fmterrorfcallexpr.go
  passes/stdlib/fmterrorfcallexpr/fmterrorfcallexpr_test.go
Labels: ast, new-analyzer

#195 passes/helper/validation: Pass for collecting `validation.StringInSlice()` calls
  CHANGELOG.md
  passes/helper/validation/stringinslicecallexpr/stringinslicecallexpr.go
  passes/helper/validation/stringinslicecallexpr/stringinslicecallexpr_test.go
Labels: ast, check/validation, new-analyzer

#201 New Analyzer and Check: timesleepcallexpr and R018
  CHANGELOG.md
  README.md
  passes/R018/R018.go
  passes/R018/R018_test.go
  passes/R018/README.md
  passes/R018/testdata/src/a/alias.go
  passes/R018/testdata/src/a/comment_ignore.go
  passes/R018/testdata/src/a/main.go
  passes/R018/testdata/src/a/outside_package.go
  passes/R018/testdata/src/a/time/main.go
  passes/checks.go
  passes/stdlib/timesleepcallexpr/timesleepfcallexpr.go
  passes/stdlib/timesleepcallexpr/timesleepfcallexpr_test.go
Labels: ast, check/resource, new-analyzer, new-check
