Repository bflad/tfproviderlint, pull requests merged in 2020-03, with the labels that each got.

#103 passes: Support ignore comments in AT004, AT005, AT006, and AT007
  CHANGELOG.md
  passes/AT004/AT004.go
  passes/AT004/testdata/src/a/a.go
  passes/AT005/AT005.go
  passes/AT005/testdata/src/a/a.go
  passes/AT006/AT006.go
  passes/AT006/testdata/src/a/a.go
  passes/AT007/AT007.go
  passes/AT007/testdata/src/a/a.go
  version/version.go
Labels: ast, check/acctest, enhancement

#105 New Checks: S035 through S037 for invalid attribute references
  CHANGELOG.md
  README.md
  helper/analysisutils/schema_analyzers.go
  helper/analysisutils/schema_runners.go
  helper/astutils/expr.go
  helper/astutils/function_parameters.go
  helper/terraformtype/helper/schema/attributes.go
  passes/S015/S015.go
  passes/S035/README.md
  passes/S035/S035.go
  passes/S035/S035_test.go
  passes/S035/testdata/src/a/alias.go
  passes/S035/testdata/src/a/main.go
  passes/S035/testdata/src/a/outside_package.go
  passes/S035/testdata/src/a/schema/schema.go
  passes/S035/testdata/src/a/vendor
  passes/S036/README.md
  passes/S036/S036.go
  passes/S036/S036_test.go
  passes/S036/testdata/src/a/alias.go
  passes/S036/testdata/src/a/main.go
  passes/S036/testdata/src/a/outside_package.go
  passes/S036/testdata/src/a/schema/schema.go
  passes/S036/testdata/src/a/vendor
  passes/S037/README.md
  passes/S037/S037.go
  passes/S037/S037_test.go
  passes/S037/testdata/src/a/alias.go
  passes/S037/testdata/src/a/main.go
  passes/S037/testdata/src/a/outside_package.go
  passes/S037/testdata/src/a/schema/schema.go
  passes/S037/testdata/src/a/vendor
  passes/checks.go
  passes/helper/schema/crudfuncinfo/crudfuncinfo.go
  passes/helper/schema/schemavalidatefuncinfo/schemavalidatefuncinfo.go
Labels: ast, check/schema, new-check

#106 Fix two bugs in basiclit helper & add test
  helper/astutils/basiclit.go
  helper/astutils/basiclit_test.go
Labels: ast

#116 tests: Use actions/checkout@v2, Go 1.14, add PR workflow
  .github/workflows/incoming.yaml
  .github/workflows/push.yml
Labels: enhancement

#118 helper/analysisfixtest: New package to handle SuggestedFixes testing
  README.md
  helper/analysisfixtest/analysisfixtest.go
Labels: enhancement

#119 Add SuggestedFixes to Deprecation with Replacement Linters
  CHANGELOG.md
  README.md
  go.mod
  helper/analysisutils/analyzers.go
  helper/analysisutils/runners.go
  passes/V002/V002.go
  passes/V002/V002_test.go
  passes/V002/testdata/src/a/alias.go
  passes/V002/testdata/src/a_fixed/alias.go
  passes/V002/testdata/src/a_fixed/main.go
  passes/V003/V003.go
  passes/V003/V003_test.go
  passes/V003/testdata/src/a/alias.go
  passes/V003/testdata/src/a/main.go
  passes/V003/testdata/src/a_fixed/alias.go
  passes/V003/testdata/src/a_fixed/main.go
  passes/V004/V004.go
  passes/V004/V004_test.go
  passes/V004/testdata/src/a/alias.go
  passes/V004/testdata/src/a/main.go
  passes/V004/testdata/src/a_fixed/alias.go
  passes/V004/testdata/src/a_fixed/main.go
  passes/V005/V005.go
  passes/V005/V005_test.go
  passes/V005/testdata/src/a/alias.go
  passes/V005/testdata/src/a_fixed/alias.go
  passes/V005/testdata/src/a_fixed/main.go
  passes/V006/V006.go
  passes/V006/V006_test.go
  passes/V006/testdata/src/a/alias.go
  passes/V006/testdata/src/a_fixed/alias.go
  passes/V006/testdata/src/a_fixed/main.go
  passes/V007/V007.go
  passes/V007/V007_test.go
  passes/V007/testdata/src/a/alias.go
  passes/V007/testdata/src/a_fixed/alias.go
  passes/V007/testdata/src/a_fixed/main.go
  passes/V008/V008.go
  passes/V008/V008_test.go
  passes/V008/testdata/src/a/alias.go
  passes/V008/testdata/src/a_fixed/alias.go
  passes/V008/testdata/src/a_fixed/main.go
  passes/helper/validation/iprangecallexpr/iprangecallexpr.go
  passes/helper/validation/iprangecallexpr/iprangecallexpr_test.go
  passes/helper/validation/singleipcallexpr/singleipcallexpr.go
  passes/helper/validation/singleipcallexpr/singleipcallexpr_test.go
  vendor/github.com/sergi/go-diff/AUTHORS
  vendor/github.com/sergi/go-diff/CONTRIBUTORS
  vendor/github.com/sergi/go-diff/LICENSE
  vendor/github.com/sergi/go-diff/diffmatchpatch/diff.go
  vendor/github.com/sergi/go-diff/diffmatchpatch/diffmatchpatch.go
  vendor/github.com/sergi/go-diff/diffmatchpatch/match.go
  vendor/github.com/sergi/go-diff/diffmatchpatch/mathutil.go
  vendor/github.com/sergi/go-diff/diffmatchpatch/patch.go
  vendor/github.com/sergi/go-diff/diffmatchpatch/stringutil.go
  vendor/golang.org/x/tools/go/analysis/singlechecker/singlechecker.go
  vendor/modules.txt
Labels: ast, check/validation, enhancement

#122 helper/terraformtype/terraform: New package for working with github.com/hashicorp/terraform-plugin-sdk/terraform and ResourceProvider type
  helper/terraformtype/terraform/package.go
  helper/terraformtype/terraform/type_resourceprovider.go
  helper/terraformtype/terraform/type_resourceprovider_test.go
Labels: ast, check/resource, enhancement

#123 Add helper/terraformtype/helper/customdiff and passes/helper/customdiff for working with SDK customdiff package
  CHANGELOG.md
  helper/astutils/expr.go
  helper/astutils/fieldlist.go
  helper/astutils/fieldlist_test.go
  helper/terraformtype/helper/customdiff/funcs.go
  helper/terraformtype/helper/customdiff/package.go
  helper/terraformtype/helper/customdiff/type_resourceconditionfunc.go
  helper/terraformtype/helper/customdiff/type_resourceconditionfunc_test.go
  helper/terraformtype/helper/customdiff/type_valuechangeconditionfunc.go
  helper/terraformtype/helper/customdiff/type_valuechangeconditionfunc_test.go
  helper/terraformtype/helper/customdiff/type_valuechangevalidationfunc.go
  helper/terraformtype/helper/customdiff/type_valuechangevalidationfunc_test.go
  helper/terraformtype/helper/customdiff/type_valueconditionfunc.go
  helper/terraformtype/helper/customdiff/type_valueconditionfunc_test.go
  helper/terraformtype/helper/customdiff/type_valuevalidationfunc.go
  helper/terraformtype/helper/customdiff/type_valuevalidationfunc_test.go
  helper/terraformtype/helper/schema/type_resourcediff.go
  helper/terraformtype/helper/schema/type_resourcediff_test.go
  passes/helper/customdiff/resourceconditionfuncinfo/resourceconditionfuncinfo.go
  passes/helper/customdiff/resourceconditionfuncinfo/resourceconditionfuncinfo_test.go
  passes/helper/customdiff/valuechangeconditionfuncinfo/valuechangeconditionfuncinfo.go
  passes/helper/customdiff/valuechangeconditionfuncinfo/valuechangeconditionfuncinfo_test.go
  passes/helper/customdiff/valuechangevalidationfuncinfo/valuechangevalidationfuncinfo.go
  passes/helper/customdiff/valuechangevalidationfuncinfo/valuechangevalidationfuncinfo_test.go
  passes/helper/customdiff/valueconditionfuncinfo/valueconditionfuncinfo.go
  passes/helper/customdiff/valueconditionfuncinfo/valueconditionfuncinfo_test.go
  passes/helper/customdiff/valuevalidationfuncinfo/valuevalidationfuncinfo.go
  passes/helper/customdiff/valuevalidationfuncinfo/valuevalidationfuncinfo_test.go
Labels: ast, check/resource, enhancement

#124 Add helper/terraformtype/helper/schema and passes/helper/schema for working with StateUpgradeFunc
  CHANGELOG.md
  helper/astutils/expr.go
  helper/terraformtype/helper/schema/type_stateupgradefunc.go
  helper/terraformtype/helper/schema/type_stateupgradefunc_test.go
  passes/helper/schema/stateupgradefuncinfo/stateupgradefuncinfo.go
  passes/helper/schema/stateupgradefuncinfo/stateupgradefuncinfo_test.go
Labels: ast, check/schema, enhancement

#125 Add helper/terraformtype/helper/schema and passes/helper/schema for working with CustomizeDiffFunc
  CHANGELOG.md
  helper/terraformtype/helper/schema/type_customizedifffunc.go
  helper/terraformtype/helper/schema/type_customizedifffunc_test.go
  passes/helper/schema/customizedifffuncinfo/customizedifffuncinfo.go
  passes/helper/schema/customizedifffuncinfo/customizedifffuncinfo_test.go
Labels: ast, check/resource, enhancement

#126 helper/terraformtype/helper/schema: Constants and functions for working with Provider type
  CHANGELOG.md
  helper/terraformtype/helper/schema/type_provider.go
  helper/terraformtype/helper/schema/type_provider_test.go
Labels: ast, check/resource, enhancement

#127 helper/terraformtype/terraform: Constants and functions for working with ResourceProviderFactory type
  CHANGELOG.md
  helper/terraformtype/terraform/type_resourceproviderfactory.go
  helper/terraformtype/terraform/type_resourceproviderfactory_test.go
Labels: ast, check/resource, enhancement

#128 Various enhancements for SDK v2 upgrade handling
  CHANGELOG.md
  helper/analysisutils/analyzers.go
  helper/analysisutils/runners.go
  helper/astutils/package.go
  passes/helper/schema/providertypeassertexpr/providertypeassertexpr.go
  passes/helper/schema/providertypeassertexpr/providertypeassertexpr_test.go
  passes/terraform/resourceproviderselectorexpr/resourceproviderselectorexpr.go
  passes/terraform/resourceproviderselectorexpr/resourceproviderselectorexpr_test.go
Labels: ast, enhancement

#130 passes/terraform: Pass for collecting terraform.ResourceProviderFactory selectors
  CHANGELOG.md
  passes/terraform/resourceproviderfactoryselectorexpr/resourceproviderfactoryselectorexpr.go
  passes/terraform/resourceproviderfactoryselectorexpr/resourceproviderfactoryselectorexpr_test.go
Labels: ast, enhancement
