Repository bflad/tfproviderlint, pull requests merged in 2020-12, with the labels that each got.

#215 [fix] AT009 detects wrong usage
  passes/AT009/AT009.go
  passes/AT009/testdata/src/a/main.go
Labels: ast, bug, check/acctest

#216 New Checks: V009 and V010
  CHANGELOG.md
  README.md
  passes/V009/README.md
  passes/V009/V009.go
  passes/V009/V009_test.go
  passes/V009/testdata/src/a/alias.go
  passes/V009/testdata/src/a/alias_v2.go
  passes/V009/testdata/src/a/main.go
  passes/V009/testdata/src/a/main_v2.go
  passes/V009/testdata/src/a/outside_package.go
  passes/V009/testdata/src/a/validation/validation.go
  passes/V009/testdata/src/a/vendor
  passes/V010/README.md
  passes/V010/V010.go
  passes/V010/V010_test.go
  passes/V010/testdata/src/a/alias.go
  passes/V010/testdata/src/a/alias_v2.go
  passes/V010/testdata/src/a/main.go
  passes/V010/testdata/src/a/main_v2.go
  passes/V010/testdata/src/a/outside_package.go
  passes/V010/testdata/src/a/validation/validation.go
  passes/V010/testdata/src/a/vendor
  passes/checks.go
  passes/helper/validation/stringdoesnotmatchcallexpr/stringdoesnotmatchcallexpr.go
  passes/helper/validation/stringdoesnotmatchcallexpr/stringdoesnotmatchcallexpr_test.go
  passes/helper/validation/stringmatchcallexpr/stringmatchcallexpr.go
  passes/helper/validation/stringmatchcallexpr/stringmatchcallexpr_test.go
Labels: ast, check/validation, new-check

#217 New Check: R019: check for `(*schema.ResourceData).HasChanges()` receiver method usage with many arguments
  CHANGELOG.md
  README.md
  passes/R019/R019.go
  passes/R019/R019_test.go
  passes/R019/README.md
  passes/R019/testdata/src/a/alias.go
  passes/R019/testdata/src/a/alias_v2.go
  passes/R019/testdata/src/a/main.go
  passes/R019/testdata/src/a/main_v2.go
  passes/R019/testdata/src/a/outside_package.go
  passes/R019/testdata/src/a/schema/schema.go
  passes/R019/testdata/src/a/vendor
  passes/R019/testdata/src/threshold/main.go
  passes/R019/testdata/src/threshold/vendor
  passes/checks.go
  passes/helper/schema/resourcedatahaschangecallexpr/resourcedatahaschangecallexpr.go
  passes/helper/schema/resourcedatahaschangecallexpr/resourcedatahaschangecallexpr_test.go
  passes/helper/schema/resourcedatahaschangescallexpr/resourcedatahaschangescallexpr.go
  passes/helper/schema/resourcedatahaschangescallexpr/resourcedatahaschangescallexpr_test.go
Labels: ast, check/schema, new-check
