Repository bflad/tfproviderlint, pull requests merged in 2021-02, with the labels that each got.

#221 Update R014 to work with context CRUD functions
  README.md
  helper/terraformtype/diag/package.go
  helper/terraformtype/diag/type_diagnostics.go
  helper/terraformtype/helper/schema/type_crudfunc.go
  passes/R014/R014.go
  passes/R014/README.md
  passes/R014/testdata/src/a/main.go
  passes/R014/testdata/src/a/main_v2.go
  passes/R014/testdata/src/a/main_v2_context.go
  passes/helper/schema/crudfuncinfo/crudfuncinfo.go
Labels: ast, check/resource, enhancement

#224 helper/terraformtype/helper/schema: Prevent panics with function or variable `Elem` field values
  CHANGELOG.md
  helper/terraformtype/helper/schema/type_schema.go
  passes/S001/testdata/src/a/main.go
  passes/S001/testdata/src/a/main_v2.go
  passes/S006/testdata/src/a/main.go
  passes/S006/testdata/src/a/main_v2.go
Labels: ast, bug, check/resource, check/schema

#222 New Extra Checkout XR006: check for Resource that implements redundant Timeouts
  README.md
  helper/terraformtype/helper/schema/type_resource.go
  xpasses/XR006/XR006.go
  xpasses/XR006/XR006_test.go
  xpasses/XR006/testdata/src/a/alias.go
  xpasses/XR006/testdata/src/a/alias_v2.go
  xpasses/XR006/testdata/src/a/comment_ignore.go
  xpasses/XR006/testdata/src/a/comment_ignore_v2.go
  xpasses/XR006/testdata/src/a/main.go
  xpasses/XR006/testdata/src/a/main_v2.go
  xpasses/XR006/testdata/src/a/outside_package.go
  xpasses/XR006/testdata/src/a/schema/schema.go
  xpasses/XR006/testdata/src/a/vendor
Labels: ast, check/resource, new-check
