Repository bflad/tfproviderlint, pull requests merged in 2021-03, with the labels that each got.

#225 chore(deps): update Go to 1.16
  .github/workflows/incoming.yaml
  .github/workflows/release.yaml
  Dockerfile
  go.sum
Labels: dependencies

#230 New Check: AT012: check for files containing multiple acceptance test function name prefixes
  CHANGELOG.md
  README.md
  passes/AT012/AT012.go
  passes/AT012/AT012_test.go
  passes/AT012/README.md
  passes/AT012/testdata/src/a/comment_ignore_test.go
  passes/AT012/testdata/src/a/failing_test.go
  passes/AT012/testdata/src/a/passing_test.go
  passes/AT012/testdata/src/ignoredfilenames/ignored_file_test.go
  passes/checks.go
Labels: ast, check/acctest, new-check

#231 New Checks: Additional Custom SchemaValidateFunc Checks for SDK Validation Functions
  CHANGELOG.md
  README.md
  passes/V011/README.md
  passes/V011/V011.go
  passes/V011/V011_test.go
  passes/V011/testdata/src/a/main.go
  passes/V012/README.md
  passes/V012/V012.go
  passes/V012/V012_test.go
  passes/V012/testdata/src/a/main.go
  passes/V013/README.md
  passes/V013/V013.go
  passes/V013/V013_test.go
  passes/V013/testdata/src/a/main.go
  passes/V014/README.md
  passes/V014/V014.go
  passes/V014/V014_test.go
  passes/V014/testdata/src/a/main.go
  passes/checks.go
Labels: ast, check/validation, new-check

#234 New Checks: XR007 and XR008: Check for os/exec.Command and os/exec.CommandContext Usage
  CHANGELOG.md
  README.md
  helper/analysisutils/analyzers.go
  helper/analysisutils/runners.go
  helper/analysisutils/stdlib_analyzers.go
  helper/analysisutils/stdlib_runners.go
  passes/stdlib/osexeccommandcallexpr/osexeccommandcallexpr.go
  passes/stdlib/osexeccommandcallexpr/osexeccommandcallexpr_test.go
  passes/stdlib/osexeccommandcontextcallexpr/osexeccommandcontextcallexpr.go
  passes/stdlib/osexeccommandcontextcallexpr/osexeccommandcontextcallexpr_test.go
  passes/stdlib/osexeccommandcontextselectorexpr/osexeccommandcontextselectorexpr.go
  passes/stdlib/osexeccommandcontextselectorexpr/osexeccommandcontextselectorexpr_test.go
  passes/stdlib/osexeccommandselectorexpr/osexeccommandselectorexpr.go
  passes/stdlib/osexeccommandselectorexpr/osexeccommandselectorexpr_test.go
  xpasses/XR007/README.md
  xpasses/XR007/XR007.go
  xpasses/XR007/XR007_test.go
  xpasses/XR007/testdata/src/a/alias.go
  xpasses/XR007/testdata/src/a/alias.go.golden
  xpasses/XR007/testdata/src/a/main.go
  xpasses/XR007/testdata/src/a/main.go.golden
  xpasses/XR008/README.md
  xpasses/XR008/XR008.go
  xpasses/XR008/XR008_test.go
  xpasses/XR008/testdata/src/a/alias.go
  xpasses/XR008/testdata/src/a/alias.go.golden
  xpasses/XR008/testdata/src/a/main.go
  xpasses/XR008/testdata/src/a/main.go.golden
  xpasses/checks.go
Labels: ast, check/resource, new-check
